body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0;
    width: 500px;
    height: 455px;
}

.cell,
.cell-flagged,
.cell-mine,
.cell-number {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
}

.cell,
.cell-flagged {
    background: #a8dadc;
    transition: all 0.2s;
}

.cell:hover,
.cell-flagged:hover {
    transform: scale(1.1);
}

.cell-number {
    background: #f1faee;
}

.cell-mine {
    background: #e63946;
}       